{% extends "base.html" %}

{% block content %}
    <h1>{% block title %} Budžeta plānotājs {% endblock %}</h1>
    <h2>Prece/lieta  ;  Cena (EUR)</h2>
    {% for viensplanotajs in planotajs %}
        <h3>{{ viensplanotajs["prece"]}} ; {{ viensplanotajs["cena"]}}</h3>
    
        <a href="{{ url_for('labot', id=viensplanotajs['id']) }}" class="link-dark">
            <button class="btn btn-warning">Labot</button>
    <hr>

    {% endfor %}

    <h2> Kopējā iztērētā summa: {{ summa }} EUR</h2>


{% endblock %}