{% extends "base.html" %}

{% block content %}
    <h1>{% block title %} Pievieno jaunu plānotāju! {% endblock %}</h1>

    <form method="post">

        <div class="form-group">
            <label for="nosaukums">Ievadiet preces vai lietas!</label>
            <input type="text" placeholder="Prece vai lieta, piemēram piens, tomāti, utt."
                   placeholder="Nosaukums" class="form-control"
                   value="{{ request.form['prece'] }}"></input>
        </div>

        <div class="form-group">
            <label for="teksts">Ievadiet savas preces vai lietas vērtību EURO!</label>
            <textarea name="teksts" placeholder="Preces vai lietas vērtība EURO, piemēram 1.50, 2.00, utt."
                      class="form-control">{{ request.form['cena'] }}</textarea>
        </div>
    
        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option selected>Izvēlieties kategoriju!</option>
            <option value="1">Pārtika</option>
            <option value="2">Rēķini</option>
            <option value="3">Izklaides</option>
            <option value="4">Apģērbs</option>
            <option value="5">Citi</option>
        </select>
    
        <div class="form-group">
            <button type="submit" class="btn btn-success">Pievienot</button>
            <form action="/budzeta_planotajs" method="post">
            </form>
        </div>
    
    </form>
    
{% endblock %}