{% extends "base.html" %} 

{% block content %}
    <h1>{% block title %}Reģistrēšanās{% endblock %}</h1>

    <form method="post">

        <div class="form-group">
            <label for="prece">Ievadiet lietotājvārdu</label>
            <input type="text" required name="lietotajv" placeholder="Lietotājvārds pēc izvēles (5-10 simbolu garumā)."
                   class="form-control" value="{{ request.form['lietotajv'] }}"></input>
        </div>

        <div class="form-group">
            <label for="cena">Ievadiet paroli</label>
            <input type="password" required name="parole" placeholder="Parole 5-10 simbolu garumā."
                      class="form-control">{{ request.form['parole'] }}</input> 
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success">Reģistrēties</button>
        </div>
    
    </form>
    
{% endblock %}