{% extends "base.html" %}

    {% block title %} Par budžeta plānotāju  {% endblock %}
    {% block content %} 
    <h1>Laipni lūgts!</h1>
    <h2>Kas ir šī aplikācija?</h2>
    <p>Aplikācija ir projekta darbs programmēšanā Skola2030 programmas ietvaros.</p>
    <p>Šī aplikācija palīdzēs jums izveidot savu budžetu, lai varētu saprast, kāda ir jūsu mēneša ienākuma un izdevumu situācija.</p>
    <h2>Lai izveidotu savu personīgo budžeta plānotāju, spiediet pogu zem teksta:</h2>
    <button type="button" class= "btn btn-success" onclick="window.location.href='/jauns_planotajs'">Pievieno jaunu preci!</button>
    
{% endblock %}
